@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aseguramos que la app ocupe toda la pantalla */
html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}